<div class="container">
  <h1>TinyMCE 5 Angular Demo</h1>

  <div>
    <editor #myEditor apiKey="k1aum4wv94q604j0ctufs0qmjwgxhpjd6dc04czxctayhh2v" [init]="{
     height: 500,
     menubar: false,
     plugins: [

     ],
     toolbar:
       'undo redo | formatselect | bold italic backcolor | \
       alignleft aligncenter alignright alignjustify | \
       bullist numlist outdent indent | removeformat | help'
   }"></editor>
  </div>

  <button (click)="guardarContenido()">Guardar</button>
</div>
